<h1>Editing Activity</h1>
 
<%= form_for :active, url: edit_preload_path(@active), method: :patch do |f| %>
 
  <% if @active.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@active.errors.count, "error") %> prohibited
        this activity from being saved:
      </h2>
      <ul>
        <% @active.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <p>
        <h2>Activity Zip Code</h2>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <h2>Activity Title/Description</h2>
        <%= f.text_area :text %>
    </p>
    
    <p>
        <%= f.submit "Save Activity" %>
    </p>
 
<% end %>
 
<%= link_to 'Back', preload_index_path %>