<h1>Listing Activities by Location</h1>

<table>
  <tr>
    <th>Choose an Activity Location by Zip</th>
  </tr>
 
  <% @active.each do |preload| %>
    <tr>
      <td><%= preload.title %></td>
      <td><%= link_to 'Show', preload_path(preload.id) %></td>
      <td><%= link_to 'Edit', edit_preload_path(preload.id) %></td>
      <td><%= link_to 'Destroy',
                              preload_path(preload.id),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<p>- or -</p>
<h2>Create a New Activity</h2>
<%= link_to 'New Activity', new_preload_path %>
