<h1>Listing Activities by Location</h1>
<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign Out" , signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google" , "/auth/google_oauth2" , id: "sign_in" %>
  <% end %>
</div>
<h2>Choose an Activity Location by Zip</h2>
<table>
  <% @active.each do |preload| %>
    <tr>
      <td><%= preload.title %> -- </td>
      <td><%= link_to 'View Activities', preload_path(preload.id) %> / </td>
      <td><%= link_to 'Edit Zip', edit_preload_path(preload.id) %> / </td>
      <td><%= link_to 'Delete Zip',
                              preload_path(preload.id),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<p>- or -</p>
<h2>Create a New Activity</h2>
<%= link_to 'New Activity', new_preload_path %>
