<h1>New Activity</h1>
<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign Out" , signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google" , "/auth/google_oauth2" , id: "sign_in" %>
  <% end %>
</div>
<%= form_for :preload, url: new_preload_path do |f| %>
    <p>
        <h2>Activity Zip Code</h2>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <h2>Activity Title/Description</h2>
        <%= f.text_area :text %>
    </p>
    
    <p>
        <%= f.submit "Save Activity" %>
    </p>
    
<% end %>

<%= link_to 'Back', preload_index_path %>