<h1>New Activity</h1>
<%= form_for :preload, url: new_preload_path do |f| %>
    <p>
        <h2>Activity Zip Code</h2>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <h2>Activity Title/Description</h2>
        <%= f.text_area :text %>
    </p>
    
    <p>
        <%= f.submit "Save Activity" %>
    </p>
    
<% end %>

<%= link_to 'Back', preload_index_path %>