<h2>Posted Activities at <%= @active.title %></h2>
<p>Below are activities that have already been posted at this location by the app!</p>

<ol>
    <li><strong><%= @active.text %></strong></li>
</ol>

<h2>User Added Activities</h2>
<p>Below are activities that have been posted by users!</p>
  <ol>
  <% @active.users.each do |user| %>
    <li><strong><%= user.body %></strong></li>
  <% end %>
  </ol>
  
<h2>Add an Activity at <%= @active.title %>:</h2>
<%= form_for([@active, @active.users.build]) do |f| %>
  <p>
    <%= f.label "Location" %><br>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label "Activity Title/Description" %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Save Activity" %>
  </p>
<% end %>
<%= link_to 'Location List', preload_index_path %>
