<p>
  <strong>Location:</strong>
  <%= @active.title %>
</p>
 
<p>
  <strong>Activity:</strong>
  <%= @active.text %>
</p>
<h2>User Added Activities</h2>
<% @active.users.each do |user| %>
  <p>
    <strong>Location:</strong>
    <%= user.zip %>
  </p>
 
  <p>
    <strong>Activity:</strong>
    <%= user.body %>
  </p>
<% end %>
<h2>Add an Activity:</h2>
<%= form_for([@active, @active.users.build]) do |f| %>
  <p>
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Location List', preload_index_path %>
