<h1>Editing article</h1>
 
<%= form_for :preload, url: active_path(@preload), method: :patch do |f| %>
 
  <% if @preload.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@preload.errors.count, "error") %> prohibited
        this activity from being saved:
      </h2>
      <ul>
        <% @preload.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', articles_path %>