<h1>New Activity</h1>
<%= form_for :user, url: new_active_path do |f| %>
    <p>
        <%= f.label :zip %><br>
        <%= f.text_field :zip %>
    </p>
    
    <p>
        <%= f.label :body %><br>
        <%= f.text_field :body %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
    
<% end %>